/* 
#46465c
#f075b7
*/
@font-face {
  font-family: EBMain;
  src: url(/skysite/fonts/EBMain.ttf);
}
@font-face {
  font-family: A01;
  src: url(/skysite/fonts/A01.otf);
}
@font-face {
  font-family: A01Ital;
  src: url(/skysite/fonts/A01-Italic.otf);
}
@font-face {
  font-family: fuku;
  src: url(/skysite/fonts/FukuCatch.otf);
}
/* ::selection {
  background: #e6dedc;
  color: #46465c;
} */


 * {
  margin: auto;
 }

 a {
  color:hotpink;
  font-family: fuku, monospace;
  text-decoration: none;
}
a:visited{
  color: hotpink;
}

body {
  /* background-color: #17101a; */
  background-image: url(/skysite/images//cavestory/bkBlue.png);
  color: #e6dedc;
  font-family: EBMain, monospace;
}

.border {
  border-color:aquamarine;
  border-style: ridge;
  border-width: 10px;
  border-radius: 8px;
  width:fit-content;
  background-color: #17101a;
}

#main {
  width: 50vw;
  font-size: x-large;
  text-align: center;
}

#top {
  text-align: center;
  font-family: A01Ital;
  font-size: 5vw;
  margin: 2%;
}
img {
    width: inherit;
}