/* 
#46465c
#f075b7
*/
@font-face {
  font-family: EBMain;
  src: url(/skysite/fonts/EBMain.ttf);
}
@font-face {
  font-family: A01;
  src: url(/skysite/fonts/A01.otf);
}
@font-face {
  font-family: A01Ital;
  src: url(/skysite/fonts/A01-Italic.otf);
}
@font-face {
  font-family: fuku;
  src: url(/skysite/fonts/FukuCatch.otf);
}
::selection {
  background: #e6dedc;
  color: #46465c;
}


 * {
  margin: auto;
 }

 a {
  color:hotpink;
  font-family: fuku, monospace;
  text-decoration: none;
  font-size: 2em;
}
a:visited{
  color: hotpink;
}

body {
  background-color: #17101a;
  color: #e6dedc;
  /* font-family: monospace; */
}

.border {
  border-color:whitesmoke;
  border-style:dashed;
  border-width: 2px;
  /* border-radius: 8px; */
  width:fit-content;
  background-color: #17101a;
}

#main {
  min-width: 450px;
  width: 50vw;
  font-size: x-large;
  text-align: center;
}

#top {
  text-align: center;
  font-size: 3em;
  margin: 2%;
}
img {
  width: inherit;
  min-width: 450px;

}