/* 
#46465c
#f075b7
*/
@font-face {
  font-family: EBMain;
  src: url(/skysite/fonts/EBMain.ttf);
}
@font-face {
  font-family: A01;
  src: url(/skysite/fonts/A01.otf);
}
@font-face {
  font-family: A01Ital;
  src: url(/skysite/fonts/A01-Italic.otf);
}
@font-face {
  font-family: fuku;
  src: url(/skysite/fonts/FukuCatch.otf);
}
/* ::selection {
  background: #e6dedc;
  color: #46465c;
} */
a {
  color:hotpink;
}
a:visited{
  color: hotpink;
}

body {
  background-color: #17101a;
  color: #e6dedc;
  font-family: EBMain, monospace;
}

.border {
  border-color:aquamarine;
  border-style: ridge;
  border-width: 10px;
  border-radius: 8px;
  padding: 1%;
  width:fit-content;
  background-color: #17101a;
}

main {
  width: 50%;
  font-size: x-large;
  margin: auto;
}

#contact{
  font-size: x-large;
  text-align: center;

}

#ich {
  height: 70%;
  width: 70%;
}

#top {
  text-align: center;
  font-family: A01Ital;
  font-size: 8em;
  margin: 0%;
}
.clickable {
  color:hotpink;
  text-decoration:underline;
  cursor: pointer;
  font-size:xx-large;
  font-family: A01Ital;
}
.close {
  color:hotpink;
  text-decoration:underline;
  cursor: pointer;
  font-size:xx-large;
  font-family: A01Ital;
  float:right;
  padding-bottom: 10px;
  border-bottom: #e6dedc;
  border-style: ridge;
}

#music {
  display: none;
  text-align: center;
  font-family: A01Ital;
  font-size: 8em;
  margin: 0%;
}