/* 
#46465c
#f075b7
*/
@font-face {
  font-family: EBMain;
  src: url(/skysite/fonts/EBMain.ttf);
}
@font-face {
  font-family: A01;
  src: url(/skysite/fonts/A01.otf);
}
@font-face {
  font-family: A01Ital;
  src: url(/skysite/fonts/A01-Italic.otf);
}
@font-face {
  font-family: fuku;
  src: url(/skysite/fonts/FukuCatch.otf);
}
::selection {
  background: #e6dedc;
  color: #46465c;
}


 * {
  margin: auto;
 }

 a {
  color:palegoldenrod;
  /* font-family: fuku, monospace; */
  text-decoration: none;
}
a:visited{
  color: palegoldenrod;
}

body {
  background-color: black;
  background-image: url(/skysite/images/bluebg.jpg);
  background-size: cover;
  color:#46465c;
  font-family: EBMain, monospace;
}

.border {

  border-color: whitesmoke;
  border-style: ridge;
  border-width: 2px;
  border-radius: 8px;
  /* width: 50vw; */
  min-width: 450px;
  background-color: lightsteelblue;

}

#main {
  min-width: 450px;
  width: 1000px;
  height: 580px;
  font-size: x-large;
  text-align: center;
  display: grid;
  grid:
    "header header rightSide" auto
    "leftSide body rightSide" 1fr
    "footer footer rightSide" auto
    / auto 1fr auto;
  gap: 8px;
}
.leftSide { grid-area: leftSide; }
.body {
  grid-area: body;
  overflow-y: scroll;
}
.rightSide { 
  grid-area: rightSide;
  background-image: url("/skysite/images/bggif.gif");
  /* background-size: cover; */
  background-position: 40%;
  
  height: inherit;
  font-family:'Times New Roman', Times, serif;
  align-content:center;
  /* font-size: 10%; */
}
.footer { 
  grid-area: footer;
 }


#top {
  text-align: center;
  font-family: A01Ital;
  font-size: 5vw;
  margin: 2%;
}
.open {
  color:palegoldenrod;
  cursor: pointer;
  /* font-family: fuku, monospace; */
  font-size:xx-large;
  /* font-style: italic; */
}

.marquee {
  font-family: monospace;
  font-size: medium;
  padding-top: 2%;
  padding-bottom: 2%;
}


/* the sequel */

#media { display: none; }
#about { display: none; }
#socials { display: none; }
#landing { display: none; }
#mainBody {
  text-align: left;  
  height: 520px;

}

#mediaTab{
  border: #000 ridge;
  float: left;
  display:none;
  /* position: absolute; */
  background: darkslategrey;
  position: absolute;
}

lastfm-tracks {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 250px;
  height: 500px;
}